.sidebar {
  @apply flex
  h-full
  w-64
  flex-none
  flex-col
  border-r
  border-slate-300
  p-4
  dark:border-slate-800
  dark:bg-slate-900;
}

.sidebar .logo {
  @apply flex
  w-full
  flex-row
  rounded-md
  p-4
text-blue-600
dark:text-slate-50;
}

.sidebar ul {
  @apply flex
  w-full
  flex-1
  flex-col
  font-semibold;
}

.sidebar ul .item {
  @apply inline-flex
  h-10
  w-full
  items-center
  justify-start
  rounded-md
  text-slate-500;
}

.sidebar ul .item button,
.sidebar ul .item a {
  @apply w-full;
}

/* .sidebar ul .item:hover {
    @apply bg-blue-300/10 text-blue-600 dark:text-blue-50
} */

.countdown {
  @apply mb-4
  flex
  w-full
  flex-col
  rounded-md
  border
  border-slate-300
  bg-white
  p-4
  text-slate-900
  dark:border-slate-700
  dark:bg-slate-800
  dark:text-slate-50;
}

.countdown .title {
  @apply text-xl
  font-bold;
}

.countdown .sub {
  @apply text-xs;
}

.modifiers {
  @apply mt-2 
  flex 
  w-full 
  flex-row 
  flex-wrap 
  rounded-md 
  border 
  border-slate-300 
  bg-white 
  p-2 
  dark:border-slate-700 
  dark:bg-slate-800;
}

.sidebar.small {
  @apply w-16 
  items-center 
  justify-center;
}

.sidebar.small ul .item {
  @apply w-auto 
  items-center 
  justify-center;
}

.sidebar.small ul .item button {
  @apply w-auto;
}

.sidebar.small .logo {
  @apply w-auto;
}

.sidebar.small .modifiers {
  @apply border-none 
  bg-transparent 
  p-0;
}

.sidebar.small .modifiers button {
  @apply w-full;
}
