.sidebar {
	@apply
	w-64
	h-full
	flex
	flex-col
	bg-slate-50
	border-r
	border-slate-200
	p-4
	flex-none
	dark:bg-slate-900
	dark:border-slate-800
}

.sidebar .logo {
	@apply w-full
	p-4
	flex
	flex-row
  text-blue-600
  dark:text-slate-50
	rounded-md
}

.sidebar ul {
	@apply
	w-full
	flex-1
	font-semibold
	flex
	flex-col
}

.sidebar ul .item {
	@apply w-full
	rounded-md
	h-10
	inline-flex
	items-center
	justify-start
	text-slate-500;
}

.sidebar ul .item button,
.sidebar ul .item a {
	@apply w-full
}

/* .sidebar ul .item:hover {
	@apply bg-blue-300/10 text-blue-600 dark:text-blue-50
} */

.countdown {
	@apply w-full
	p-4
	mb-4
	flex
	flex-col
	text-slate-900
	bg-white
	border
	border-slate-200
	rounded-md
	dark:bg-slate-800
	dark:text-slate-50
	dark:border-slate-700
}

.countdown .title {
	@apply font-bold
	text-xl
}

.countdown .sub {
	@apply text-xs
}

.modifiers {
	@apply flex flex-row flex-wrap w-full p-2 mt-2 rounded-md bg-white border border-slate-200 dark:bg-slate-800 dark:border-slate-700
}

.sidebar.small {
	@apply w-16 justify-center items-center bg-slate-900
}

.sidebar.small ul .item {
	@apply w-auto justify-center items-center
}

.sidebar.small ul .item button {
	@apply w-auto
}

.sidebar.small .logo {
	@apply w-auto;
}

.sidebar.small .modifiers {
	@apply p-0 border-none bg-transparent
}

.sidebar.small .modifiers button {
	@apply w-full
}