.label {
  @apply truncate 
  pb-1 
  text-xs 
  font-bold 
  text-slate-500 
  dark:text-slate-50;
}

.input_container {
  @apply inline-flex 
  cursor-pointer 
  items-center 
  gap-2 
  rounded-md 
  py-1 
  px-2;
}

.input_container:hover {
  @apply bg-blue-300/10 
  text-blue-500;
}

.container {
  @apply rounded-md 
  border 
  border-slate-300 
  bg-slate-50 
  p-2
  dark:border-slate-700
  dark:bg-slate-800;
}

.container .sub_container {
  @apply ml-4 
  flex 
  flex-col 
  gap-1 
  border-l 
  border-blue-500;
}
