.container {
	@apply overflow-hidden border border-slate-300 w-full bg-white rounded-md dark:bg-slate-800 dark:border-slate-700
}

.sub {
	@apply w-full h-full max-h-[30rem] overflow-auto
}

.sub table {
	@apply w-full relative
}

.sub table thead {
	@apply top-0 sticky z-30 h-12
}

.sub table tr {
	@apply  bg-white h-10 dark:bg-slate-800
}

.sub table tr td:not(:last-child), 
.sub table tr th:not(:last-child) {
	@apply border-r border-slate-300 dark:border-slate-700
}

.sub table thead tr {
	@apply border-b border-slate-300 dark:border-slate-700
}

.sub table tbody tr:not(:last-child) {
	@apply border-b border-slate-300 dark:border-slate-700
}

.sub table tbody tr:hover {
	@apply bg-blue-50 dark:bg-blue-900
}

.sub table th,
.sub table td {
	@apply text-left px-4 min-w-[6rem] truncate
}

/* .sub table tr:nth-child(even) {
	@apply bg-slate-100
} */

.sub table th {
	@apply font-bold text-slate-500 text-xs dark:text-slate-50
}

.sub table td {
	@apply text-base dark:text-slate-50
}

.sub table a {
	@apply text-blue-600 dark:text-blue-400
}

/* .sub table tr.success,
.sub table tr.success td,
.sub table tr.success th {
	@apply bg-green-100
}

.sub table tr.warning,
.sub table tr.warning td,
.sub table tr.warning th {
	@apply bg-amber-100
}

.sub table tr.emergency,
.sub table tr.emergency td,
.sub table tr.emergency th {
	@apply bg-red-100
} */

/* .sub table td:not(:last-child),
.sub table th:not(:last-child) {
	@apply border-r 
} */

.timestamp_container {
	@apply overflow-hidden h-full max-h-[27rem] w-24 relative top-[3.1rem] z-30 -ml-24 pr-0.5
}

.timestamp_container .timestamp {
	@apply h-10 flex items-center flex-row-reverse gap-2 py-2 relative 
}

.timestamp_container .marker {
	@apply relative z-30 w-1.5 h-full bg-blue-600 rounded-md flex-none cursor-pointer
}

.timestamp_container .timestamp .marker:hover + span {
	@apply translate-x-0
}

.timestamp_container .timestamp span {
	@apply w-[4rem] relative translate-x-[6rem]
}

.timestamp_container .timestamp .title {
	@apply text-[.6rem] font-semibold text-slate-500 dark:text-slate-50
}

.timestamp_container .timestamp .text {
	@apply text-[.7rem] text-slate-500 truncate dark:text-slate-50
}

.modifiers {
	@apply w-full 
	py-4
	flex
	flex-row
	flex-wrap
	gap-2
}

.modifiers .buttons {
	@apply flex-1
	flex
	flex-row
	gap-2
}

.modifiers .input {
	@apply relative
}

.modifiers .input .search {
	@apply absolute
	top-1/2
	-translate-y-1/2
	left-2.5
	text-slate-500
	bg-white
	dark:text-slate-100
	dark:bg-slate-800
}

.modifiers .input input[type="text"] {
	@apply
	rounded-md
	h-10
	pl-10
	pr-4
	truncate
	border
	border-slate-300
	bg-white
	dark:text-slate-100
	dark:bg-slate-800
	dark:border-slate-700
}

.link {
	@apply text-blue-600 cursor-pointer p-0.5 px-2
}

.link:hover {
	@apply rounded-full bg-blue-600/10
}