.container {
  @apply w-full 
	overflow-hidden 
	rounded-md 
	border 
	border-slate-300
	bg-white 
	dark:border-slate-700 
	dark:bg-slate-800;
}

.sub {
  @apply h-full 
	max-h-[30rem] 
	w-full 
	overflow-auto;
}

.sub table {
  @apply relative 
	w-full;
}

.sub table thead {
  @apply sticky 
	top-0 
	z-30 
	h-12;
}

.sub table tr {
  @apply h-10 
	bg-white 
	dark:bg-slate-800;
}

.sub table tr td:not(:last-child),
.sub table tr th:not(:last-child) {
  @apply border-r 
	border-slate-300 
	dark:border-slate-700;
}

.sub table thead tr {
  @apply border-b 
	border-slate-300 
	dark:border-slate-700;
}

.sub table tbody tr:not(:last-child) {
  @apply border-b 
	border-slate-300 
	dark:border-slate-700;
}

.sub table tbody tr:hover {
  @apply bg-blue-300/20;
}

.sub table th,
.sub table td {
  @apply min-w-[6rem] 
	truncate 
	px-4 
	text-left;
}

/* .sub table tr:nth-child(even) {
	@apply bg-slate-100
} */

.sub table th {
  @apply text-xs 
	font-bold 
	text-slate-500
	dark:text-slate-50;
}

.sub table td {
  @apply text-base 
	dark:text-slate-50;
}

.sub table a {
  @apply text-blue-600 
	dark:text-blue-400;
}

/* .sub table tr.success,
.sub table tr.success td,
.sub table tr.success th {
	@apply bg-green-100
}

.sub table tr.warning,
.sub table tr.warning td,
.sub table tr.warning th {
	@apply bg-amber-100
}

.sub table tr.emergency,
.sub table tr.emergency td,
.sub table tr.emergency th {
	@apply bg-red-100
} */

/* .sub table td:not(:last-child),
.sub table th:not(:last-child) {
	@apply border-r 
} */

.timestamp_container {
  @apply relative 
	top-[3.1rem] 
	z-30 
	-ml-24 
	h-full 
	max-h-[27rem] 
	w-24 
	overflow-hidden 
	pr-0.5;
}

.timestamp_container .timestamp {
  @apply relative 
	flex 
	h-10 
	flex-row-reverse 
	items-center 
	gap-2 
	py-2;
}

.timestamp_container .marker {
  @apply relative 
	z-30 
	h-full 
	w-1.5 
	flex-none 
	cursor-pointer 
	rounded-md 
	bg-blue-600;
}

.timestamp_container .timestamp .marker:hover + span {
  @apply translate-x-0;
}

.timestamp_container .timestamp span {
  @apply relative 
	w-[4rem] 
	translate-x-[6rem];
}

.timestamp_container .timestamp .title {
  @apply text-[.6rem] 
	font-semibold 
	text-slate-500 
	dark:text-slate-50;
}

.timestamp_container .timestamp .text {
  @apply truncate 
	text-[.7rem] 
	text-slate-500 
	dark:text-slate-50;
}

.modifiers {
  @apply flex 
	w-full
	flex-row
	flex-wrap
	gap-2
	py-4;
}

.modifiers .buttons {
  @apply flex
	flex-1
	flex-row
	gap-2;
}

.modifiers .input {
  @apply relative;
}

.modifiers .input .search {
  @apply absolute
	top-1/2
	left-2.5
	-translate-y-1/2
	bg-white
	text-slate-500
	dark:bg-slate-800
	dark:text-slate-100;
}

.modifiers .input input[type="text"] {
  @apply h-10
	truncate
	rounded-md
	border
	border-slate-300
	bg-white
	pl-10
	pr-4
	dark:border-slate-700
	dark:bg-slate-800
	dark:text-slate-100;
}

.link {
  @apply cursor-pointer 
	p-0.5 
	px-2 
	text-blue-600;
}

.link:hover {
  @apply rounded-full 
	bg-blue-600/10;
}
