.container {
  @apply inline-flex 
  items-center 
  gap-1.5 
  rounded-full 
  bg-blue-100 
  py-1.5 
  px-3 
  text-xs 
  font-bold 
  text-blue-500
  dark:bg-blue-500 
  dark:text-white;
}

.round {
  @apply p-0.5;
}

.success {
  @apply bg-green-100 
  text-green-500 
  dark:bg-green-500 
  dark:text-white;
}

.warning {
  @apply bg-yellow-100 
  text-yellow-500 
  dark:bg-yellow-500 
  dark:text-white;
}

.emergency {
  @apply bg-red-100 
  text-red-500 
  dark:bg-red-500 
  dark:text-white;
}

.large {
  @apply py-0.5 
  px-2 
  text-sm;
}
