.container {
  @apply flex 
  h-full 
  w-full 
  flex-col flex-nowrap
  rounded-md
  border border-slate-300
  bg-white
  p-3
  dark:border-slate-700
  dark:bg-slate-800
  dark:text-slate-50;
}

.title {
  @apply w-full 
  pb-2;
}

.title h4 {
  @apply truncate 
  text-xs 
  font-bold 
  text-slate-900 
  dark:text-slate-50;
}

.stats {
  @apply flex 
  h-full 
  w-full 
  items-center;
}

.container * {
  @apply truncate;
}
