@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	@apply bg-slate-100
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply rounded-full bg-slate-400
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-slate-500 cursor-pointer
}

.gradient {
	width: 64rem;
	height: 64rem;
	top: -25%;
	left: -25%;
	position: absolute;
	z-index: 0;
	transform: translateZ(0);
    -webkit-mask-image: radial-gradient(farthest-side at 50% 50%,#000,transparent);
    background-image: linear-gradient(90deg,#2563eb,#bae6fd);
	background-position: -50% -50%;
    opacity: .25;
    filter: hue-rotate(0deg);
}