.container {
  @apply flex 
  flex-row 
  flex-nowrap;
}

.assignee {
  @apply flex 
	h-8
	w-8
	cursor-pointer
	items-center
	justify-center
	rounded-full
	border-2
	border-white
	bg-blue-100
	text-xs
	font-bold
	text-blue-500
	dark:border-slate-800
	dark:bg-blue-500
	dark:text-blue-50;
}

.assignee:not(:first-child) {
  @apply -ml-3;
}
